body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #29582a;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  #quiz-container {
    max-width: 800px;
  }
  
  button {
    background-color: #e0c9a9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #255228;
  }
  
  #results-container {
    margin-top: 2rem;
  }
  